body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Inputs */
input {
    margin: 8px 0;
    padding: 12px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: border 0.3s ease;
}

input:focus {
    border-color: #007b8a;
}

/* Buttons */
button {
    padding: 12px 20px;
    margin-top: 12px;
    background-color: #007b8a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color : #005f66;
}
